

body {
  background-color: #fff;
  
}

.container {
  width: 85%;
  margin: auto;
}

header {
  padding: 20px 0;
  background: #fff;
}

.logo {
  font-weight: 700;
  color: #111;
}

.logo span {
  color: #ff0057;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff0057;
}

.hero {
  padding: 60px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-content .text {
  flex: 1 1 45%;
}

.hero-content .text h1 {
  font-size: 42px;
  
}

.hero-content .text h1 span {
  color: #ff0057;
}

.hero-content .text p {
  margin: 15px 0 25px;
  color: #666;
}

.btn {
  background: #ff0057;
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #e6004c;
}

.hero-content .image img {
  width: 300px;
}

.brands {
  padding: 40px 0;
  text-align: center;
}

.brand-logos {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.brand-logos img {
  width: 80px;
  height: auto;
  
}


.collection {
  padding: 60px 0;
  text-align: center;
}

.collection h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: left;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 12px;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.price {
  color: #ff0057;
  font-weight: 600;
  margin-bottom: 8px;
}

.see-more {
  margin-top: 25px;
}

.see-more a {
  text-decoration: none;
  color: #ff0057;
  font-weight: 500;
}


.featured {
  background: #f9f9f9;
  padding: 60px 0;
}

.featured-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.featured-box .f-image img {
  width: 400px;
  border-radius: 15px;
}

.featured-box .f-text {
  flex: 1 1 45%;
}

.featured-box .f-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

footer {
  background: #0d0d36;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

footer h3 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

footer p {
  color: #bbb;
  margin: 5px 0;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons img {
  width: 25px;
  filter: invert(1);
  opacity: 0.8;
  transition: 0.3s;
}

.social-icons img:hover {
  opacity: 1;
}